* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

:root {
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.sticky-nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-nav__logo img {
    height: calc(10vh - 20px);
    margin-right: 10px;
}

.sticky-nav__links {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    list-style-type: none;
    color: #3F3F3F;
}

.sticky-nav__links li a {
    position: relative;
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

.sticky-nav__links li a:hover {
    top: 2px;
}

.banner {
    position: relative;
    height: 90vh;
}

.banner__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__text {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translateX(-25%);
    text-align: center;
    font-size: 1.6rem;
}

.banner-socials {
    display: flex;
    justify-content: space-evenly;
}

.info__about-me {

}

.avatar-container {
    width: 100px;
    height: 100px;
}

.co-operation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-size: 1.6rem;
}

.co-operation p {
    flex-basis: 100%;
    text-align: center;
    font-weight: 100;
}

.co-operation button{
    margin: 10px;
    flex-basis: 150px;
    font-weight: 600;
}
   
.button {
    padding: 10px;
    color: #FFFFFF;
    border: 1px solid #FFAE00;
    border-radius: 15px;
    background-image: linear-gradient(to right, #EB575E, #EDD513);
}

.button:hover {
    background-image: none;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
}

.section-header {
    width: 90%;
    margin: 30px auto;
    font-size: 1.6rem;
}

.section-header:before {
    display: block;
    height: 10vh;   /* equal to the header height */
    margin-top: -10vh;  /* negative margin equal to the header height */
    visibility: hidden;
    content: "";
  }

.about-me-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 90%;
    min-height: 40vh;
    margin: 0 auto;
    font-size: 1.6rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 20%;
    height: 40vh;
}

.avatar-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.basic-about {
   display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    width: 30%;
    height: 40vh;
}

.basic-about span {
    color: #FFC949;
    font-weight: 600;
}

.basic-about strong {
    color: #333333;
}

.description-about {
    border-left: 4px dotted orange;
    padding-left: 20px;
    width: 50%;
    min-height: calc(40vh - 40px);
}

.skills-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    min-height: 40vh;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.skills-container figure {
    display: block;
    width: 32%;
    text-align: center;
    font-size: 4.8rem;
    color: #333333;
}

figcaption {
    color: #FFC949;
}

#portfolio {
    text-align: center;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh;
    text-align: center;
}

.portfolio-tile img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.portfolio-tile:first-child {
    grid-column: span 2;
}

.portfolio-tile:nth-child(2) {
    grid-row: span 2;
}

.contact {
    background-color: #FAFAFA;
    margin-top: 30vh;
    padding-bottom: 40px;
}



.contact-container {
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}


.contact__address {
    display: flex;
    flex-direction: column;
    line-height: 1.6rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
    width: 150%;
    background-color: #ffffff;
}

.contact-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FF9A3D;
    color: white;
    padding: 40px;
}

.contact__instructions {
    width: 75%;
    font-size: 1.6rem;
    color: #FAFAFA;
}

.fa-envelope-open-text {
   font-size: 3.2rem;
   margin-bottom: 20px;
   color: white;
}

.email {
    text-decoration: underline;
}

input:not([type="submit"]) { 
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FAFAFA;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
   
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16);
}


textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FAFAFA;
    resize: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.form-header {
    margin-left: 0px;
}

.submit {
    width: 30%;
    align-self: flex-end;
}

.form-socials {
    margin-top: 5px;
    font-size: 1.1rem;
}

.form-socials * {
    margin-right: 10px;
}

.copyright-licenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}



