* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

:root {
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #ffffff;
}

.sticky-nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-nav__logo img {
    height: calc(10vh - 20px);
    margin-right: 10px;
}

.sticky-nav__links {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    list-style-type: none;
    color: #333333;
}

.sticky-nav__links li a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

.important-info {

}

.banner {
    position: relative;
    height: 90vh;
}

.banner__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__text {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translateX(-25%);
    text-align: center;
    font-size: 1.6rem;
}

.socials {
    display: flex;
    justify-content: space-evenly;
}

.info__about-me {

}

.avatar-container {
    width: 100px;
    height: 100px;
}

.co-operation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-size: 1.6rem;
}

.co-operation p {
    flex-basis: 100%;
    text-align: center;
    font-weight: 100;
}

.co-operation button{
    margin: 10px;
    flex-basis: 150px;
    font-weight: 600;
}
   
.button {
    padding: 10px;
    color: #FFFFFF;
    border: 1px solid #FFAE00;
    border-radius: 15px;
    background-image: linear-gradient(to right, #EB575E, #EDD513);
}

.button:hover {
    background-image: none;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
}

.info__about-me {
    display: flex;
    flex-direction: column;
}

.about-me-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 
}

.avatar-container {
    flex-basis: 10%;
}

.basic-about {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.description-about {
    flex-basis: 60%;
}

