* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

:root {
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: #ffffff;
}

.sticky-nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-nav__logo img {
    height: calc(10vh - 20px);
    margin-right: 10px;
}

.sticky-nav__links {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    list-style-type: none;
    color: #333333;
}

.sticky-nav__links li a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

.important-info {

}

.banner {
    position: relative;
    height: 90vh;
}

.banner__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__text {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translateX(-25%);
    text-align: center;
    font-size: 1.6rem;
}

.banner-socials {
    display: flex;
    justify-content: space-evenly;
}

.info__about-me {

}

.avatar-container {
    width: 100px;
    height: 100px;
}

.co-operation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-size: 1.6rem;
}

.co-operation p {
    flex-basis: 100%;
    text-align: center;
    font-weight: 100;
}

.co-operation button{
    margin: 10px;
    flex-basis: 150px;
    font-weight: 600;
}
   
.button {
    padding: 10px;
    color: #FFFFFF;
    border: 1px solid #FFAE00;
    border-radius: 15px;
    background-image: linear-gradient(to right, #EB575E, #EDD513);
}

.button:hover {
    background-image: none;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
}

#about-me {
    width: 90%;
    margin: 10px auto;
}

.about-me-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 90%;
    min-height: 40vh;
    margin: 0 auto;
    font-size: 1.6rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 20%;
    height: 40vh;
}

.avatar-container img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.basic-about {
   display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    width: 30%;
    height: 40vh;
}

.description-about {
    border-left: 4px dotted orange;
    padding-left: 20px;
    width: 50%;
    min-height: calc(40vh - 40px);
}

#skills {
    width: 90%;
    margin: 10px auto;
}

.skills-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    min-height: 40vh;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.skills-container figure {
    display: block;
    width: 32%;
    text-align: center;
    font-size: 4.8rem;
    color: #333333;
}

figcaption {
    color: orange;
}


#portfolio {
    text-align: center;
    margin: 10px 0px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh;
    text-align: center;
}

.portfolio-tile img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.portfolio-tile:first-child {
    grid-column: span 2;
}

.portfolio-tile:nth-child(2) {
    grid-row: span 2;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

#contact {
   flex-basis: 100%;
   margin: 10px 0px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    padding: 20px;
}

.contact__address {
    display: flex;
    flex-direction: column;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 50%;
    padding: 20px;
}

input { 
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #FAFAFA;
   
}

textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #FAFAFA;
    resize: none;
}

.submit {
    width: 30%;
    align-self: flex-end;
}

.form-socials {
    margin-top: 5px;
}

.copyright-licenses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}



